.book-list{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  &:hover{
    overflow-x: auto;
  }

  &.center{
    justify-content: center;
  }



  .carousel-arrow {
    position: absolute;
    top: 0;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    color: #fff;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.9) 100%);

    svg{
      width: 2.5rem;
    }

    &.next{
      right: 0;
    }
  }
}

.book{
  margin-right: 3.5rem;
  width: 12.25rem;
  display: block;

  .book-cover{
    width: 12.25rem;
    max-width: none;
    height: 18.5rem;
    box-shadow: 0 1px 7px #000;
  }

  .book-title{
    margin-bottom: .65rem;
    text-decoration: none;
  }

  .author{
    font-size: .95rem;
    color: $faded-color;
  }
}