.book-search{
  margin: 3rem 1rem;
  padding: 2rem;

  form{
    display: flex;
    flex-direction: column;

    > * {
      margin: 0 1rem 1rem 0;
    }

  }

}

.book-catalogue{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .book{
    margin: 0 1rem 2.5rem;
  }
}