* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 1.9rem;
}

.activity {
  display: flex;
  justify-content: start;
  align-items: center;

  .thumbnail {
    margin-left: -.35rem;
  }

  > div {
    margin: 0 .25rem;
    color: $faded-color;

    .icon {
      color: $hot;
    }
  }
}


.section-header {
  color: $faded-color;
  text-transform: uppercase;
  font-weight: 400;
  margin: 2rem 0;
}


.slider{
  cursor: move;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(111, 111, 111, 0.3);
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar{
    width: 6px;
    height: 6px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb{
    background-color: #878787;
    border: 0;
  }
}

.bookcase-bg{
  background-image: url("https://images.unsplash.com/photo-1600431521340-491eca880813?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-position: center;
  background-size: cover;
}

.faded-white-bg{
  background-color: transparentize(#fff, 0.15);
}


blockquote {
  position:relative;
  margin-bottom: 1.5rem;
  margin-right: 0;
}

blockquote:after {
  content: '\201C';
  display:block;
  font-size: 8rem;
  position:absolute;
  top:0;
  left: -3rem;
  line-height: 5rem;
  z-index:0;
  color: rgba(119, 119, 119, .2);
}

.page-cover{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -.5rem;
  padding: 1rem 1.5rem;
  height: 33vh;
  max-height: 20rem;
  background-size: cover;
  color: #f3f3f3;
  text-align: center;
  z-index: 1;

  &:after {
    content: '';
    display:block;
    width:100%;
    background: rgba(0, 0, 0, 45%);
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    z-index: -1;
  }
}

.pagination{
  text-align: center;
  margin-bottom: 3rem;

  ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

    li{
      border: 1px solid #1E3A8A;
      color: #1E3A8A;
      margin-right: 1px;

      &:first-child{
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
      }

      &:last-child{
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
      }

      &.active{
        a{
          background-color: #1E3A8A;
          color: #fff;
        }
      }

      &.disabled{
        border-color: #777777;
        a {
          color: #777777;
          cursor: not-allowed;
        }
      }

      a{
        display: block;
        padding: .25rem .35rem;
        min-width: 2.5rem;


      }
    }


  }
}


input[type="text"]{
  //margin: 0 .5rem;
  padding: .45rem;
  background-color: #fff;
  color: #333;
  border-radius: 0.2rem;
  display: inline-block;
  transition: all 0.3s;
  border: 1px solid #777;
}

select{
  padding: .45rem 1.25rem .45rem .45rem;
  background-color: #fff;
  color: #333;
  border-radius: 0.2rem;
  display: inline-block;
  transition: all 0.3s;
  border: 1px solid #777;
}

.btn{
  padding: .35rem .75rem;
  border-radius: .25rem;
  border: 1px solid;

  &.btn-primary{
    background-color: #1E40AF;
    color: #fff;

    &:hover{
      cursor: pointer;
      background-color: #1D4ED8;
    }
  }
}

.cover-thumbnail {
  width: 10rem;
  margin: .5rem 1rem;

  &.sm {
    width: 7rem;
  }

}


.left{
  float: left;
}

.right{
  float: right;
}

p{
  margin:  0 0 1rem 0;
}