.discussion{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 1.5rem;

  .cover-thumbnail{
    display: none;
  }

  .topic-details{
    flex-grow: 2;

    .topic-name{
      margin: 0;
    }
  }

  .activity-details{
    margin: 1rem;
  }

  .post-previews{
    display: none;
  }

  .post{
    display: flex;
    align-items: center;
  }
}