.favorites{
  margin: 0 0 2rem 0;
  padding: 2rem;
  display: grid;
  grid-template-areas: "cover cover"
  "review review"
  "quotes quotes";
  grid-template-columns: min-content auto;


  //grid-template-rows: auto;
  background-color: rgba(255, 255, 255, 0.7);


  .book{
    grid-area: cover;
    margin: 0 auto;
    width: auto;
    text-align: center;
  }

  .review-details{
    grid-area: review;
    text-align: justify;
  }

  .quotes{
    grid-area: quotes;
    text-align: justify;
  }
}