header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: .5rem 1rem;
  background-color: $header-color;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.41);
  z-index: 99;
  transition: all 0.3s;

  .identity{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .25rem 0;

    .logo{
      font-size:1.5rem;
      font-weight: 100;

      span {
        font-weight: 300;
      }
    }

    .search{
      display: none;
      input{
        margin: 0 .5rem;
        padding: .45rem;
        background-color: #fff;
        color: #333;
        border-radius: 0.2rem;
        border: 0;
        display: block;
        transition: all 0.3s;
      }
    }
  }


  .navigation{
    display: none;

    &.show{
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: start;

      &:before {
        content: '';
        display:block;
        width: 100%;
        margin:.25rem auto -.25rem;
        border: 1px solid rgba(0, 0, 0, 0.1);
      }
    }

    nav{
      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: start;
        margin: 0;
        padding: 1rem 0;

        li{
          a {
            display: inline-block;
            padding: .35rem 0;
            text-decoration: none;
            color: $main-color;

            &.active{
              font-weight: 600;
            }
          }
        }
      }
    }



    .notifications{
      ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        padding: 0;

        li{
          margin: 0 .25rem;
        }

        .profile {
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 50%;
        }
      }
    }
  }

  .nav-toggle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1rem;
    min-width: 1.35rem;
    margin: .15rem;
    user-select: none;

    .line{
      display: block;
      height: 2px;
      width: 100%;
      background: #000;


    }
    &.close{
      .line{
        &:nth-child(1){
          transform: translate(0, .4rem) rotate(45deg);
        }
        &:nth-child(2){
          display:none;
        }
        &:nth-child(3){
          transform: translate(0, -.45rem) rotate(-45deg);
        }
      }
    }
  }
}