.hero {
  width: 100%;
  height: 100%;
  background: url('../images/minimalista.jpg') no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;

  .hero-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .hero-details {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      margin: 3rem 1rem;
      height: 70vh;

      > div {
        background-color: rgba(234, 234, 234, 60%);
        padding: .15rem .5rem;
      }

    }

    .hero-nav{
      display: flex;
      justify-content: space-evenly;
      margin: 0;
      padding: 0;
      list-style: none;

      li{
        flex: 1;
        margin: 0;
        border-bottom: 2px solid transparent;

        a {
          display: block;
          padding: .75rem;
          text-decoration: none;
          color: $main-color;

          h5{
            font-size: 1rem;
            font-weight: 500;
            margin: 0 0 .25rem 0;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2; /* number of lines to show */
            -webkit-box-orient: vertical;
          }
        }

        &.active{
          border-color: green;
          background: transparentize($main-color, .95);
        }
      }
    }
  }


}