.latest-articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, minmax(6rem, 12.5rem)) auto;
  grid-template-areas:
    "last last"
    "second second"
    "third third";
  gap: 1.5rem;


  > article {
    grid-area: auto / 1  / auto / 3;
    position: relative;
    display: flex;
    border-radius: .15rem;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);

    img {
      width: 30%;
      object-fit: cover;
    }

    > div {
      padding: .5rem;

      .title {
        margin: 0 0 .5rem;
      }
    }


    &:first-child {
      grid-area: last;
    }

    &:nth-child(2) {
      grid-area: second;
    }

    &:nth-child(3) {
      grid-area: third;
    }

    /* Special Styling for the first (latest) 3 articles */
    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      > div {
        padding: 1rem;
        color: #fff;
        z-index: 1;
        background: linear-gradient(-90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);


        .title {
          margin: 0;
          font-weight: 500;
        }

        .posted {
          color: #fff;
        }
      }
    }


  }


}