main {
  padding: 3rem 0 0 0;
  min-height: calc(100vh - 5.2rem);
  position: relative;
}

.popular {
  margin: 2.5rem auto;
}



footer{
  padding: 1.25rem 2rem;
  background: $faded-color;
  color: #fff;
  text-align: center;
}