@media all and (min-width: $md) {
  /**
  * Utility Medias
   */
  .container{
    max-width: 1400px;
  }

  .w-md-2\/5{
    width: 40%;
  }

  .mb-md-4 {
    margin-bottom: 1rem;
  }

  .mx-md-auto{
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .flex-md{
    display: flex;
  }

  /**
  * Header
   */
  header{
    flex-direction: row;
    align-items: center;

    .nav-toggle{
      display: none;
    }
    .identity{

      .search{
        display: block;
      }
    }

    .navigation{
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: center;

      nav{
        ul{
          flex-direction: row;
          align-items: center;
          padding: 0 0 0 2rem;

          li{
            a{
              padding: .25rem;
            }
          }
        }
      }

      .notifications{
      }
    }
  }


  .hero{
    .hero-content{
      .hero-details{
        > div{
          padding-right: 2rem;
          background-color: transparent;
        }
      }
    }

  }

  /**
   * Latest Articles
   */
  .latest-articles{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, minmax(6rem, 12.5rem)) auto;
    grid-template-areas:
    "last second"
    "last third";
    gap: 1.5rem;
    width: 66%;
    margin-right: 2rem;

    > article{
      grid-area: auto;
    }

  }

  /**
   *  Trending Section123
   */
  .trending{
    width: 33%;
  }


  /**
   * Single Page Layout
   */
  .page{
    .container{
      display: grid;
      grid-template-columns: 33% 66%;
      grid-template-rows: auto;
      grid-template-areas: "cover details"
                         "list list";
      grid-gap: 1rem;
    }
  }

  .favorites{
    grid-template-areas: "cover review"
                          "cover quotes";
    .book{
      margin-right: 2rem;
    }
  }


  /**
 * Browse Page
 */
  .book-search{
    form{
      flex-direction: row;
    }
  }

  .book-catalogue{
    justify-content: flex-start;
  }


  /**
  * Community page
   */
  .discussion{
    flex-direction: row;
    justify-content: space-between;

    .cover-thumbnail{
      display: block;
    }

    .post-previews{
      display: block;
    }

    .topic-details{
      .topic-name{
        margin: 1rem 0;
      }
    }
  }

}
