.recommended{
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1503027075-f790a0a2dcb6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-image: url("https://images.unsplash.com/photo-1466446105453-d151af699ac7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1355&q=80");
  background-position: center center;
  background-size: cover;
  color: #fff !important;
  padding: 2rem 0;

  .section-header{
    color: #ffffff;
  }


  .carousel-arrow{
    background: none;
  }

}