.reviews{
  grid-area: auto / 1 / auto / 3;


}

.review{
  display: flex;
  justify-content: stretch;
  margin: 3rem 0 0 2rem;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
  background-color: transparentize(#fff, 0.3);

  .avatar{
    margin: -1.5rem 0 .5rem -1.5rem;
    min-width: 8rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 50%;
    border: .1rem solid #d7d3d3;
  }



  .name{
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.25rem;
    margin: .5rem 0;
  }

  .review-details{
    padding: 1rem;
    color: $faded-color;
    font-style: italic;

    p{
      margin: .5rem 0 .75rem;
    }
  }
}

.posted{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $main-color;
  font-size: 1rem;

  .posted-at{
    color: $faded-color;
    font-size: .7rem;
  }
}