.page {
  flex-direction: column;
  justify-content: center;

  .cover-container{
    text-align: center;
    .cover-image{
      box-shadow: 0 1px 7px #000;
    }
  }

  .container{
    padding: 3rem 2rem;

    .same-author{
      grid-area: list;
      margin: 1.5rem 0;
    }

    .rating{
      display: flex;
    }
  }
}