.trending{
  padding: 0 1.5rem;
  background: transparentize($faded-color, .95);

  ul{
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 1.25rem;

      .topic-name {
        margin-bottom: .25rem;
        font-weight: 400;
        color: #2A7953;
      }

      .article-title{
        display: block;
        margin: .5rem 0;
        font-weight: 400;
        text-decoration: none;
        color: #000;
      }
    }
  }
}