.container{
  margin: 0 auto;
}

.m-0{
  margin: 0 !important;
}

.mt-0{
  margin-top: 0 !important;
}

.mb-4 {
  margin-bottom: 1rem !important;
}

.mb-8{
  margin-bottom: 2rem;
}

.ml-4{
  margin-left: 1rem;
}

.mr-2{
  margin-right: .5rem;
}

.mx-4{
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-2{
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.my-4{
  margin-top: 1rem;
  margin-bottom: 1rem;
}


.p-4{
  padding: 1rem;
}

.py-4{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-8{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.px-8{
  padding-left: 2rem;
  padding-right: 2rem;
}

.p-8{
  padding: 2rem;
}

.py-12{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.p-12{
  padding: 3rem;
}

.flex{
  display: flex;
}

.w-1\/2 {
  width: 50%;
}

.w-2\/5{
  width: 40%;
}
.w-1\/10{
  width: 90%;
}

.w-32{
  width: 8rem;
}

.w-40{
  width: 10rem;
}

.w-60{
  width: 15rem;
}

.w-64{
  width: 16rem;
}

.w-max-100{
  max-width: 100%;
}


.icon {
  width: 1em;
  vertical-align: text-top;
}

.icon-lg {
  width: 1.25rem;
}


.posted{
  font-size: .85rem;
  color: $faded-color;
}


.thumbnail {
  width: 1.75rem;
  height: 1.75rem;
  border: 1px solid transparentize($faded-color, .75);
  border-radius: 50%;
}

.bg-orange{
  background-color: #D97706;
}

.italic{
  font-style: italic;
}

.text-orange{
  color: #F59E0B;
}

.text-hot{
  color: $hot;
}

.text-faded{
  color: $faded-color;
}

.shadow{
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
}

.justify-content-end{
  justify-content: flex-end !important;
}

.d-inline-block{
  display: inline-block;
}


.align-justify{
  text-align: justify;
}

.font-semi-bold{
  font-weight: 500;
}