@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/**
* Breakpoints
*/
.container {
  margin: 0 auto;
}

.m-0 {
  margin: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-4 {
  margin-bottom: 1rem !important;
}

.mb-8 {
  margin-bottom: 2rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mr-2 {
  margin-right: .5rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-2 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.p-4 {
  padding: 1rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.p-8 {
  padding: 2rem;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.p-12 {
  padding: 3rem;
}

.flex {
  display: flex;
}

.w-1\/2 {
  width: 50%;
}

.w-2\/5 {
  width: 40%;
}

.w-1\/10 {
  width: 90%;
}

.w-32 {
  width: 8rem;
}

.w-40 {
  width: 10rem;
}

.w-60 {
  width: 15rem;
}

.w-64 {
  width: 16rem;
}

.w-max-100 {
  max-width: 100%;
}

.icon {
  width: 1em;
  vertical-align: text-top;
}

.icon-lg {
  width: 1.25rem;
}

.posted {
  font-size: .85rem;
  color: #777777;
}

.thumbnail {
  width: 1.75rem;
  height: 1.75rem;
  border: 1px solid rgba(119, 119, 119, 0.25);
  border-radius: 50%;
}

.bg-orange {
  background-color: #D97706;
}

.italic {
  font-style: italic;
}

.text-orange {
  color: #F59E0B;
}

.text-hot {
  color: #ff6645;
}

.text-faded {
  color: #777777;
}

.shadow {
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
}

.justify-content-end {
  justify-content: flex-end !important;
}

.d-inline-block {
  display: inline-block;
}

.align-justify {
  text-align: justify;
}

.font-semi-bold {
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 1.9rem;
}

.activity {
  display: flex;
  justify-content: start;
  align-items: center;
}
.activity .thumbnail {
  margin-left: -.35rem;
}
.activity > div {
  margin: 0 .25rem;
  color: #777777;
}
.activity > div .icon {
  color: #ff6645;
}

.section-header {
  color: #777777;
  text-transform: uppercase;
  font-weight: 400;
  margin: 2rem 0;
}

.slider {
  cursor: move;
}
.slider::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(111, 111, 111, 0.3);
  background-color: #F5F5F5;
}
.slider::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #F5F5F5;
}
.slider::-webkit-scrollbar-thumb {
  background-color: #878787;
  border: 0;
}

.bookcase-bg {
  background-image: url("https://images.unsplash.com/photo-1600431521340-491eca880813?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-position: center;
  background-size: cover;
}

.faded-white-bg {
  background-color: rgba(255, 255, 255, 0.85);
}

blockquote {
  position: relative;
  margin-bottom: 1.5rem;
  margin-right: 0;
}

blockquote:after {
  content: '\201C';
  display: block;
  font-size: 8rem;
  position: absolute;
  top: 0;
  left: -3rem;
  line-height: 5rem;
  z-index: 0;
  color: rgba(119, 119, 119, 0.2);
}

.page-cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -.5rem;
  padding: 1rem 1.5rem;
  height: 33vh;
  max-height: 20rem;
  background-size: cover;
  color: #f3f3f3;
  text-align: center;
  z-index: 1;
}
.page-cover:after {
  content: '';
  display: block;
  width: 100%;
  background: rgba(0, 0, 0, 0.45);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.pagination {
  text-align: center;
  margin-bottom: 3rem;
}
.pagination ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.pagination ul li {
  border: 1px solid #1E3A8A;
  color: #1E3A8A;
  margin-right: 1px;
}
.pagination ul li:first-child {
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}
.pagination ul li:last-child {
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
}
.pagination ul li.active a {
  background-color: #1E3A8A;
  color: #fff;
}
.pagination ul li.disabled {
  border-color: #777777;
}
.pagination ul li.disabled a {
  color: #777777;
  cursor: not-allowed;
}
.pagination ul li a {
  display: block;
  padding: .25rem .35rem;
  min-width: 2.5rem;
}

input[type="text"] {
  padding: .45rem;
  background-color: #fff;
  color: #333;
  border-radius: 0.2rem;
  display: inline-block;
  transition: all 0.3s;
  border: 1px solid #777;
}

select {
  padding: .45rem 1.25rem .45rem .45rem;
  background-color: #fff;
  color: #333;
  border-radius: 0.2rem;
  display: inline-block;
  transition: all 0.3s;
  border: 1px solid #777;
}

.btn {
  padding: .35rem .75rem;
  border-radius: .25rem;
  border: 1px solid;
}
.btn.btn-primary {
  background-color: #1E40AF;
  color: #fff;
}
.btn.btn-primary:hover {
  cursor: pointer;
  background-color: #1D4ED8;
}

.cover-thumbnail {
  width: 10rem;
  margin: .5rem 1rem;
}
.cover-thumbnail.sm {
  width: 7rem;
}

.left {
  float: left;
}

.right {
  float: right;
}

p {
  margin: 0 0 1rem 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: .5rem 1rem;
  background-color: #eaeaea;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.41);
  z-index: 99;
  transition: all 0.3s;
}
header .identity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .25rem 0;
}
header .identity .logo {
  font-size: 1.5rem;
  font-weight: 100;
}
header .identity .logo span {
  font-weight: 300;
}
header .identity .search {
  display: none;
}
header .identity .search input {
  margin: 0 .5rem;
  padding: .45rem;
  background-color: #fff;
  color: #333;
  border-radius: 0.2rem;
  border: 0;
  display: block;
  transition: all 0.3s;
}
header .navigation {
  display: none;
}
header .navigation.show {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}
header .navigation.show:before {
  content: '';
  display: block;
  width: 100%;
  margin: .25rem auto -.25rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
header .navigation nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: 0;
  padding: 1rem 0;
}
header .navigation nav ul li a {
  display: inline-block;
  padding: .35rem 0;
  text-decoration: none;
  color: #333333;
}
header .navigation nav ul li a.active {
  font-weight: 600;
}
header .navigation .notifications ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}
header .navigation .notifications ul li {
  margin: 0 .25rem;
}
header .navigation .notifications ul .profile {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
header .nav-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1rem;
  min-width: 1.35rem;
  margin: .15rem;
  user-select: none;
}
header .nav-toggle .line {
  display: block;
  height: 2px;
  width: 100%;
  background: #000;
}
header .nav-toggle.close .line:nth-child(1) {
  transform: translate(0, 0.4rem) rotate(45deg);
}
header .nav-toggle.close .line:nth-child(2) {
  display: none;
}
header .nav-toggle.close .line:nth-child(3) {
  transform: translate(0, -0.45rem) rotate(-45deg);
}

.hero {
  width: 100%;
  height: 100%;
  background: url("../images/minimalista.jpg") no-repeat center center;
  -webkit-background-size: cover;
  background-size: cover;
}
.hero .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.hero .hero-content .hero-details {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin: 3rem 1rem;
  height: 70vh;
}
.hero .hero-content .hero-details > div {
  background-color: rgba(234, 234, 234, 0.6);
  padding: .15rem .5rem;
}
.hero .hero-content .hero-nav {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  list-style: none;
}
.hero .hero-content .hero-nav li {
  flex: 1;
  margin: 0;
  border-bottom: 2px solid transparent;
}
.hero .hero-content .hero-nav li a {
  display: block;
  padding: .75rem;
  text-decoration: none;
  color: #333333;
}
.hero .hero-content .hero-nav li a h5 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0 0 .25rem 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}
.hero .hero-content .hero-nav li.active {
  border-color: green;
  background: rgba(51, 51, 51, 0.05);
}

.book-list {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.book-list:hover {
  overflow-x: auto;
}
.book-list.center {
  justify-content: center;
}
.book-list .carousel-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  color: #fff;
  background: white;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 100%);
}
.book-list .carousel-arrow svg {
  width: 2.5rem;
}
.book-list .carousel-arrow.next {
  right: 0;
}

.book {
  margin-right: 3.5rem;
  width: 12.25rem;
  display: block;
}
.book .book-cover {
  width: 12.25rem;
  max-width: none;
  height: 18.5rem;
  box-shadow: 0 1px 7px #000;
}
.book .book-title {
  margin-bottom: .65rem;
  text-decoration: none;
}
.book .author {
  font-size: .95rem;
  color: #777777;
}

.latest-articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, minmax(6rem, 12.5rem)) auto;
  grid-template-areas: "last last" "second second" "third third";
  gap: 1.5rem;
}
.latest-articles > article {
  grid-area: auto / 1  / auto / 3;
  position: relative;
  display: flex;
  border-radius: .15rem;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
  /* Special Styling for the first (latest) 3 articles */
}
.latest-articles > article img {
  width: 30%;
  object-fit: cover;
}
.latest-articles > article > div {
  padding: .5rem;
}
.latest-articles > article > div .title {
  margin: 0 0 .5rem;
}
.latest-articles > article:first-child {
  grid-area: last;
}
.latest-articles > article:nth-child(2) {
  grid-area: second;
}
.latest-articles > article:nth-child(3) {
  grid-area: third;
}
.latest-articles > article:nth-child(1), .latest-articles > article:nth-child(2), .latest-articles > article:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.latest-articles > article:nth-child(1) img, .latest-articles > article:nth-child(2) img, .latest-articles > article:nth-child(3) img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.latest-articles > article:nth-child(1) > div, .latest-articles > article:nth-child(2) > div, .latest-articles > article:nth-child(3) > div {
  padding: 1rem;
  color: #fff;
  z-index: 1;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
}
.latest-articles > article:nth-child(1) > div .title, .latest-articles > article:nth-child(2) > div .title, .latest-articles > article:nth-child(3) > div .title {
  margin: 0;
  font-weight: 500;
}
.latest-articles > article:nth-child(1) > div .posted, .latest-articles > article:nth-child(2) > div .posted, .latest-articles > article:nth-child(3) > div .posted {
  color: #fff;
}

.trending {
  padding: 0 1.5rem;
  background: rgba(119, 119, 119, 0.05);
}
.trending ul {
  list-style: none;
  padding: 0;
}
.trending ul li {
  margin-bottom: 1.25rem;
}
.trending ul li .topic-name {
  margin-bottom: .25rem;
  font-weight: 400;
  color: #2A7953;
}
.trending ul li .article-title {
  display: block;
  margin: .5rem 0;
  font-weight: 400;
  text-decoration: none;
  color: #000;
}

.recommended {
  position: relative;
  background-image: url("https://images.unsplash.com/photo-1503027075-f790a0a2dcb6?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  background-image: url("https://images.unsplash.com/photo-1466446105453-d151af699ac7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1355&q=80");
  background-position: center center;
  background-size: cover;
  color: #fff !important;
  padding: 2rem 0;
}
.recommended .section-header {
  color: #ffffff;
}
.recommended .carousel-arrow {
  background: none;
}

.page {
  flex-direction: column;
  justify-content: center;
}
.page .cover-container {
  text-align: center;
}
.page .cover-container .cover-image {
  box-shadow: 0 1px 7px #000;
}
.page .container {
  padding: 3rem 2rem;
}
.page .container .same-author {
  grid-area: list;
  margin: 1.5rem 0;
}
.page .container .rating {
  display: flex;
}

.reviews {
  grid-area: auto / 1 / auto / 3;
}

.review {
  display: flex;
  justify-content: stretch;
  margin: 3rem 0 0 2rem;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.7);
}
.review .avatar {
  margin: -1.5rem 0 .5rem -1.5rem;
  min-width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 50%;
  border: .1rem solid #d7d3d3;
}
.review .name {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.25rem;
  margin: .5rem 0;
}
.review .review-details {
  padding: 1rem;
  color: #777777;
  font-style: italic;
}
.review .review-details p {
  margin: .5rem 0 .75rem;
}

.posted {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333333;
  font-size: 1rem;
}
.posted .posted-at {
  color: #777777;
  font-size: .7rem;
}

.favorites {
  margin: 0 0 2rem 0;
  padding: 2rem;
  display: grid;
  grid-template-areas: "cover cover" "review review" "quotes quotes";
  grid-template-columns: min-content auto;
  background-color: rgba(255, 255, 255, 0.7);
}
.favorites .book {
  grid-area: cover;
  margin: 0 auto;
  width: auto;
  text-align: center;
}
.favorites .review-details {
  grid-area: review;
  text-align: justify;
}
.favorites .quotes {
  grid-area: quotes;
  text-align: justify;
}

.book-search {
  margin: 3rem 1rem;
  padding: 2rem;
}
.book-search form {
  display: flex;
  flex-direction: column;
}
.book-search form > * {
  margin: 0 1rem 1rem 0;
}

.book-catalogue {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.book-catalogue .book {
  margin: 0 1rem 2.5rem;
}

.discussion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 1.5rem;
}
.discussion .cover-thumbnail {
  display: none;
}
.discussion .topic-details {
  flex-grow: 2;
}
.discussion .topic-details .topic-name {
  margin: 0;
}
.discussion .activity-details {
  margin: 1rem;
}
.discussion .post-previews {
  display: none;
}
.discussion .post {
  display: flex;
  align-items: center;
}

main {
  padding: 3rem 0 0 0;
  min-height: calc(100vh - 5.2rem);
  position: relative;
}

.popular {
  margin: 2.5rem auto;
}

footer {
  padding: 1.25rem 2rem;
  background: #777777;
  color: #fff;
  text-align: center;
}

@media all and (min-width: 768px) {
  /**
  * Utility Medias
   */
  .container {
    max-width: 1400px;
  }

  .w-md-2\/5 {
    width: 40%;
  }

  .mb-md-4 {
    margin-bottom: 1rem;
  }

  .mx-md-auto {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .flex-md {
    display: flex;
  }

  /**
  * Header
   */
  header {
    flex-direction: row;
    align-items: center;
  }
  header .nav-toggle {
    display: none;
  }
  header .identity .search {
    display: block;
  }
  header .navigation {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
  }
  header .navigation nav ul {
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 2rem;
  }
  header .navigation nav ul li a {
    padding: .25rem;
  }

  .hero .hero-content .hero-details > div {
    padding-right: 2rem;
    background-color: transparent;
  }

  /**
   * Latest Articles
   */
  .latest-articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, minmax(6rem, 12.5rem)) auto;
    grid-template-areas: "last second" "last third";
    gap: 1.5rem;
    width: 66%;
    margin-right: 2rem;
  }
  .latest-articles > article {
    grid-area: auto;
  }

  /**
   *  Trending Section123
   */
  .trending {
    width: 33%;
  }

  /**
   * Single Page Layout
   */
  .page .container {
    display: grid;
    grid-template-columns: 33% 66%;
    grid-template-rows: auto;
    grid-template-areas: "cover details" "list list";
    grid-gap: 1rem;
  }

  .favorites {
    grid-template-areas: "cover review" "cover quotes";
  }
  .favorites .book {
    margin-right: 2rem;
  }

 /**
* Browse Page
*/
  .book-search form {
    flex-direction: row;
  }

  .book-catalogue {
    justify-content: flex-start;
  }

  /**
  * Community page
   */
  .discussion {
    flex-direction: row;
    justify-content: space-between;
  }
  .discussion .cover-thumbnail {
    display: block;
  }
  .discussion .post-previews {
    display: block;
  }
  .discussion .topic-details .topic-name {
    margin: 1rem 0;
  }
}
